# Project exclude paths
/common/.gradle
/neoforge/.gradle
/fabric/.gradle
/.gradle/
/build/
/common/build/
/fabric/.gradle/
/fabric/build/
/neoforge/.gradle/
/neoforge/build/
/neoforge/run/
/forge/.gradle/
/forge/build/
/forge/run/
/fabric/run/
/.idea/
/.architectury-transformer
*.log
*.gz