# Project exclude paths
/common/.gradle
/neoforge/.gradle
/fabric/.gradle
/.gradle/
/build/
/common/build/
/fabric/.gradle/
/fabric/build/
/neoforge/.gradle/
/neoforge/build/
/neoforge/run/
/fabric/run/
/.idea/